@model IEnumerable<ProductInvoice.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="row">
    <div class="col-md-2" >
    <a asp-action="AddProduct" class="btn btn-sm btn-primary">Add a New Product</a>
    </div>
<div class="col-md-2 offset-8">
    <a asp-controller="Discount" asp-action="AddDiscount" class="btn btn-sm btn-success">Add a New Discount</a>
    </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.discounts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductBasePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                
                    @foreach(var ite in item.discounts)
                    {
                        @Html.DisplayFor(modelItem => ite.DiscountPercent)
                    }
                  
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductBasePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductUpdated)
            </td>
            <td>
                <form asp-action="DeleteProduct" asp-route-ProductId="@item.ProductId">
                <div class="btn-group btn-group-sm">      
                    <a asp-action="UpdateProduct" asp-route-ProductId="@item.ProductId" class="btn btn-outline-warning" >Edit</a>
                
                <a asp-action="GetProductById" asp-route-ProductId="@item.ProductId" class="btn btn-outline-info">Details</a>
                
                    <button type="submit" class="btn btn-outline-danger"
                    onclick="return confirm('Are you sure?')">Delete
                    </button>
                    
                    </div>
                    </form>

            </td>
        </tr>
}
    </tbody>
</table>
