@model IEnumerable<ProductInvoice.Models.Product>
@using ProductInvoice.Models


@{
    ViewData["Title"] = "AddInvoice";
    <br />
    
}

<div class="row">
    <div class="col-6 offset-1">
       <label><b>Invoice Id: </b></label><input type="text" 
           value= "@ViewBag.InvoiceId" class="forrm-control" style="width: 310px" readonly/>
    </div>

     <div class="col-5">
         <form method="get" asp-action="Search" >
         <input type="text" name="searchTerm" id="searchTerm" />
        <button type="submit" class="btn btn-success">Search</button>
    </form>
    </div>
    </div>
    <br />
<div class="row">
    <div class="col-2 offset-1">
        <label><b>Total Cost</b></label>: @ViewBag.totPrice
    </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.discounts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductBasePrice)
            </th>
            <th>
                <p>Savings</p>
            </th>
            <th>
                <p>No. Of Items</p>
            </th>
            <th>
                <p>Final Price</p>
                
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @{decimal max =0,disPrice;
                        @foreach(var ite in item.discounts)
                    {
                                @if(ite.DiscountExpiration > DateTime.Now)
                        {
                                    @if (ite.DiscountPercent > max)
                                    max = ite.DiscountPercent;
                        }
                    }
                    
                                @Html.DisplayFor(modelItem => max)<text>%</text>
                  }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductBasePrice)
            </td>
            <td>
                    @{
                        disPrice = item.ProductBasePrice * max/100;
                    }
                    <p>@disPrice</p>
            </td>
            <td>
                    @foreach(var it in item.invoiceItems)
                    {
                        @if(it.ProductId.CompareTo(item.ProductId) == 0 
                        && it.InvoiceId.ToString().Equals(@ViewBag.InvoiceId))
                        {
                            
                            @Html.DisplayFor(ite=>it.NoOfItems)
                        }
                    } 
                </td>
            <td>
                    @{
                        decimal total = item.ProductBasePrice - disPrice;
                        ViewData["Price"] = total;
                    }
            <p>@total</p>
            </td>
            <td>
                
            <form asp-action="AddItems" asp-route-ProductId="@item.ProductId" >
                <button type="submit" class="btn btn-success">Add
                    </button>
                    
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
<br />
<div class="row">
<div class="col-2 offset-4" >

    <a asp-action="Index" class="btn btn-success">Save</a>
    </div>
    <div class="col-2">
       <form asp-action="Cancel">
           
                <button type="submit" class="btn btn-danger">Cancel
                    </button>
                    
                </form>
</div>
</div>
                