@model ProductInvoice.Models.Product

<div class="col-md-4 ">
<div class="card" style="width: 23rem; height:15rem;">
  
  <div class="card-body" style=" background-image: linear-gradient(to right, #DECBA4, #3E5151);">
    <h2 class="card-title">@Model.ProductName</h2>
    <pre class="card-text"><b>Base Price:</b> @Model.ProductBasePrice 
<b>Category:</b> @Model.ProductCategory
<b>Date Created: </b>@Model.ProductCreated
<b>Date Last Modified: </b>@Model.ProductUpdated 
@foreach(var item in Model.discounts){
<b>Discounts:</b> @item.DiscountPercent<text>%</text> 
}
</pre>
            <div class="row">
    <div class="col-3 offset-4">
    <form asp-action="DeleteProduct" asp-controller="Product" asp-route-ProductId="@Model.ProductId">
                <div class="btn-group btn-group-sm">      
                    <a asp-action="UpdateProduct" asp-controller="Product"
                    asp-route-ProductId="@Model.ProductId" class="btn btn-warning" ><i class="fa-solid fa-pen-to-square"></i></a>
                
                <a asp-action="GetProductById" asp-controller="Product" asp-route-ProductId="@Model.ProductId"
                class="btn btn-info"><i class="fa-solid fa-circle-info"></i></a>
                
                    <button type="submit" class="btn btn-danger"
                    onclick="return confirm('Are you sure?')"><i class="fa-solid fa-trash"></i>
                    </button>
                    </div>
      </form>
      </div>
      </div>
  </div>
</div>
<br />
</div>
